nav ul {
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	font-size: 16px;
}
nav ul li a{
	font-size: 20px;
}
.bdy table tr td img{
	border-radius: 50%;
}
.edu table{
	border-collapse: collapse;
}
section h1{
	text-decoration: underline;
}
footer{
	background: #ccc;
	padding: 10px;
	font-size: 18px;
}